{% extends 'aplicacion/base.html' %}
{% load static %}
<body>
    {% block contenido %}
    <h1>Lista de productos</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th>Modelo</th>
          <th>Color</th>
          <th>Material</th>
          <th>Cantidad</th>
          
        </tr>
      </thead>
      <tbody>
        {% for p in productos %}
          <tr>
            <td>{{ p.modelo }}</td>
            <td>{{ p.color }}</td>
            <td>{{ p.material }}</td>
            <td>{{ p.cantidad }}</td>
            
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No hay productos ingresados.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock contenido %}

</body>
</html>