{% extends 'aplicacion/base.html' %}
{% load static %}
<body>
    {% block contenido %}
    <h1>Lista de Proveedores</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Vendedor</th>
          <th>Teléfono de Contacto</th>
          <th>Dirección</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
          <tr>
            <td>{{ proveedor.nombre_empresa }}</td>
            <td>{{ proveedor.vendedor }}</td>
            <td>{{ proveedor.telefono_contacto }}</td>
            <td>{{ proveedor.direccion }}</td>
            <td>{{ proveedor.email }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No hay proveedores registrados.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock contenido %}

</body>
</html>
